/* @import url(https://fonts.googleapis.com/css?family=Indie+Flower|Sniglet|Josefin+Sans|Comfortaa|Play|Source+Sans+Pro:400,700); */

#navigation {
  font-family: 'Indie Flower', cursive;
}
@media screen and (min-width: 500px) {
  #card-body {
    height: 7rem;
  }
}

.nav-link {
  padding-left: 5rem;
  padding-right: 1rem;
}
#main-container {
  padding-top: 4rem;
}
